In [2]:
#last digit of a number
n=int(input("Enter number"))
print("The last number is: ",n%10)

Enter number2123
The last number is:  3

In [3]:
#last num even or odd
n=int(input("Enter number"))
if(n%10%2==0):
    print("Even")
else:
    print("Odd")

Enter number23456
Even

In [4]:
#vote eligibility
age=int(input("Enter age"))
if(age>=18):
    print("Eligible")
else:
    print("Not Eligible")

Enter age23
Eligible

In [5]:
#display grades
s1=int(input("Enter marks"))
s2=int(input("Enter marks"))
s3=int(input("Enter marks"))
per=(s1+s2+s3)/3
if(per>=90):
    print("Grade A")
elif(per>=80):
    print("Grade B")
elif(per>=70):
    print("Grade C")
elif(per>=60):
    print("Grade D")
else:
    print("Fail")

Enter marks12
Enter marks23
Enter marks100
Fail

In [6]:
#display week day acc to num
n=int(input("Enter number"))
if(n==1):
  print("Monday")
elif(n==2):
  print("Tuesday")
elif(n==3):
  print("Wednesday")
elif(n==4):
  print("Thursday")
elif(n==5):
  print("Friday")
elif(n==6):
  print("Saturday")
elif(n==7):
  print("Sunday")
else:
  print("Invalid number")

Enter number5
Friday

In [7]:
#3 digit num or not
n=int(input("Enter number"))
if(n>=100 and n<=999):
  print("3 digit number")
else:
  print("Not a 3 digit number")

Enter number345
3 digit number

In [8]:
# positive or not
n=int(input("Enter number"))
if(n>=0):
  print("Positive")
else:
  print("Negative")

Enter number54
Positive

In [9]:
#divisible by 8 and 9
n=int(input("Enter number"))
if(n%8==0 and n%9==0):
  print("Divisible")
else:
  print("Not divisible")

Enter number54
Not divisible

In [10]:
#max of 3 numbers
a=int(input("Enter number"))
b=int(input("Enter number"))
c=int(input("Enter number"))
if(a>b and a>c):
  print("a is max")
elif(b>a and b>c):
  print("b is max")
else:
  print("c is max")

Enter number54
Enter number65
Enter number76
c is max

In [11]:
#Vowels or not
ch=input("Enter character: ")
if(ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'):
    print(ch,"is a vowel")
else:
  print("Not a vowel")

Enter character: a
a is a vowel

In [15]:
'''print the pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5'''
for i in range(0,5):
  for j in range(0,5):
    if(i>=j):
      print(j+1,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
#printing sum to n
n=int(input("Enter number"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter number10
55

In [18]:
#div by 5,>150--> skip, >500--> break
l=[12,75,150,180,145,525,50]
for i in range(0,len(l)):
  if(l[i]%5==0):
    if(l[i]<150):
      print(l[i])

75
145
50

In [22]:
#count no of digits
n=int(input("Enter number: "))
count=0
while(n>0):
  count=count+1
  n=n//10
print("The no of digits is: ",count)

Enter number: 2354
The no of digits is:  4

In [25]:
#reverse using loop
l=[10,20,30,40,50]
for i in range(len(l)-1,-1,-1):
  print(l[i],end=" ")

50 40 30 20 10

In [27]:
#print from -10 to -1
for i in range(-10,0):
  print(i,",",end=" ")

-10 , -9 , -8 , -7 , -6 , -5 , -4 , -3 , -2 , -1 ,

In [29]:
#print primes from 1 to 100
count =0
for i in range(1,101):
  for j in range(1,101):
    if(i%j==0):
      count=count+1
    if count==2:
      print(i,end=" ")
      count=0

2 3 4 4 5 6 6 7 8 8 9 10 10 11 12 12 12 13 14 14 15 15 16 16 16 17 18 18 18 19 20 20 20 21 21 22 22 23 24 24 24 24 25 26 26 27 27 28 28 28 29 30 30 30 30 31 32 32 32 33 33 34 34 35 35 36 36 36 36 36 37 38 38 39 39 40 40 40 40 41 42 42 42 42 43 44 44 44 45 45 45 46 46 47 48 48 48 48 48 49 50 50 50 51 51 52 52 52 53 54 54 54 54 55 55 56 56 56 56 57 57 58 58 59 60 60 60 60 60 60 61 62 62 63 63 63 64 64 64 64 65 65 66 66 66 66 67 68 68 68 69 69 70 70 70 70 71 72 72 72 72 72 72 73 74 74 75 75 75 76 76 76 77 77 78 78 78 78 79 80 80 80 80 80 81 81 82 82 83 84 84 84 84 84 84 85 85 86 86 87 87 88 88 88 88 89 90 90 90 90 90 90 91 91 92 92 92 93 93 94 94 95 95 96 96 96 96 96 96 97 98 98 98 99 99 99 100 100 100 100 100

In [30]:
#fibonacci
def fib(x):
  if x>1:
    return(fib(x-1)+(x-2))
  elif x==0:
    return 0
  elif x==1:
    return 1
for i in range(10):
  print(fib(i),end=" ")

0 1 1 2 4 7 11 16 22 29

In [31]:
#factorial
fact=1
n=int(input("Enter number"))
for i in range(1,n+1):
  fact=fact*i
print(fact)

Enter number5
120

In [33]:
#rev of number
n=int(input("Enter n: "))
rem=0
sum=0
rev=0
while n>0:
  rem=n%10
  rev=rev*10+rem
  n=n//10
print(rev)

Enter n: 123
321